.dashboard {
    display: grid;
    grid-template-columns: 17% auto;
    grid-template-rows: 8% 92%;

    background: radial-gradient(
            ellipse at top left,
            #bf2701 0%,
            #2a1055 40%,
            #6e2910 100%
        ),
        linear-gradient(
            120deg,
            rgba(165, 56, 56, 0.1) 0%,
            rgb(82, 20, 6) 100%
        );
    background-blend-mode: lighten, normal;
    grid-template-areas:
        "page-logo header"
        "sidebar content";
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
}

.logo-button {
    grid-area: page-logo;
    background-image: url(../assets/logo4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 1px;
}


.page-header {
    background-color: #f2f0ef;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
}
